* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family:
    "Source Sans 3", "Source Sans Pro", system-ui, "Segoe UI", Roboto,
    sans-serif;
  color: rgb(14, 14, 14, 1);
  background-color: rgb(255, 255, 255, 1);
}

h1 {
  margin: 0;
  padding: 0;
}

/* Header layout */
.site-top-bar {
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
}

/* Branding */
.site-branding-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.site-logo {
  width: 3rem;
  height: auto;
}

.brand-title {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 700;
  text-decoration: none;
}

/* Navigation */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar-list a {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 3vw, 1.25rem);
  font-weight: 600;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32, 1);
  color: rgb(255, 255, 255, 1);
  font-size: 0.875rem;
  padding: 0.5rem 0;
  width: 100%;
}

.footer-title {
  margin-top: 0.875rem;
}

.social-icon {
  margin-top: 0.875rem;
  width: 1.5rem;
  height: auto;
  display: block;
  fill: rgb(255, 255, 255, 1);
}

@media (min-width: 414px) {
  .site-top-bar {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1085px;
  }
}

@media (min-width: 1085px) {
}
